<header class="nav-link active" routerLink="/home">
    <div class="col-8"></div>
    <div class="col-4">
        <div id="userName">Usuario</div>
        <i class="fas fa-user fa-lg"></i>
    </div>
    <div>
        <div class="">

        </div>
        <mat-icon [matBadge]="notification" matBadgeColor="warn" matBadgeOverlap="false" class="textoBlanco"> Notificacion</mat-icon>
        <!-- Include text description of the icon's meaning for screen-readers -->
        <span class="cdk-visually-hidden">
        Example with a home icon with overlaid badge showing the number 15
      </span>
    </div>
</header>