<div class="container-fluid">
    <div class="container pt-4 px-4">
      <h2 class="text-center">Acta de Finalización de PPS</h2>
      <form [formGroup]="formActaFin" (ngSubmit)="enviar()" #f="ngForm">
        <h3 class="subtitulos">1. Experiencia</h3>
  
        <div class="row">
          <label for="formOp1" class="col-sm-8 col-form-label"
            >1.1 - ¿Cómo clasificaría su experiencia de PPS?</label
          >
          <div class="col-sm-4">
            <select
              class="form-control mt-2"
              id="formOp1"
              formControlName="op1"
              [(ngModel)]="actFin.op1"
              name="op1"
            >
              <option [value]="op" *ngFor="let op of opc1">
                {{ op }}
              </option>
            </select>
          </div>
        </div>
        <div class="row">
          <label for="formOp2" class="col-sm-8 col-form-label"
            >1.2 - ¿Qué tanto ha integrado conocimientos de la carrera en su
            PPS?</label
          >
          <div class="col-sm-4">
            <select
              class="form-control mt-2"
              id="formOp2"
              formControlName="op2"
              [(ngModel)]="actFin.op2"
              name="op2"
            >
              <option value="op2" *ngFor="let op2 of opc2">
                {{ op2 }}
              </option>
            </select>
          </div>
        </div>
  
        <div class="row">
          <label for="formOp3" class="col-sm-8 col-form-label"
            >1.3 - ¿Qué tanto su PPS ha contribuido a consolidar conocimientos de
            la carrera?</label
          >
          <div class="col-sm-4">
            <select
              class="form-control mt-2"
              id="formOp3"
              formControlName="op3"
              [(ngModel)]="actFin.op3"
              name="op3"
            >
              <option value="op2" *ngFor="let op2 of opc2">
                {{ op2 }}
              </option>
            </select>
          </div>
        </div>
        <label for="formText1" class="form-label"
          >1.4 - ¿Cómo mejorarías la experiencia e integración de conocimientos?
        </label>
        <textarea
          class="form-control mt-2"
          id="formText1"
          formControlName="text1"
          [(ngModel)]="actFin.text1"
          name="text1"
        ></textarea>
  
        <h3 class="subtitulos">2. Metodología</h3>
  
        <div class="row">
          <label for="formOp4" class="col-sm-8 col-form-label"
            >2.1 - ¿Cómo calificaría la metodología?</label
          >
          <div class="col-sm-4">
            <select
              class="form-control mt-2"
              id="formOp4"
              formControlName="op4"
              [(ngModel)]="actFin.op4"
              name="op4"
            >
              <option [value]="op" *ngFor="let op of opc1">
                {{ op }}
              </option>
            </select>
          </div>
        </div>
        <label for="formText2" class="form-label mt-3"
          >2.2 - ¿Cómo mejorarías la metodología?</label
        >
        <textarea
          class="form-control mt-2"
          id="formText2"
          formControlName="text2"
          [(ngModel)]="actFin.text2"
          name="text2"
        ></textarea>
  
        <h3 class="subtitulos">3. Atención Administrativa</h3>
  
        <div class="row">
          <label for="formOp5" class="col-sm-8 col-form-label"
            >3.1 - ¿Cómo calificaría la atención administrativa?</label
          >
          <div class="col-sm-4">
            <select
              class="form-control mt-2"
              id="formOp5"
              formControlName="op5"
              [(ngModel)]="actFin.op5"
              name="op5"
            >
              <option [value]="op" *ngFor="let op of opc1">
                {{ op }}
              </option>
            </select>
          </div>
        </div>
        <label for="formText3" class="form-label mt-3"
          >3.2 - ¿Cómo consideras que se podría mejorar la atención
          administrativa?</label
        >
        <textarea
          class="form-control mt-2"
          id="formText3"
          formControlName="text3"
          [(ngModel)]="actFin.text3"
          name="text3"
        ></textarea>
  
        <label for="formText4" class="form-label"
          ><h3 class="subtitulos">
            4. Conclusiones del contacto de la organización
          </h3></label
        >
        <textarea
          class="form-control mt-2"
          id="formText4"
          formControlName="text4"
          [(ngModel)]="actFin.text4"
          name="text4"
        ></textarea>
  
        <label for="formText5" class="form-label"
          ><h3 class="subtitulos">5. Conclusión General</h3></label
        >
        <textarea
          class="form-control mt-2"
          id="formText5"
          formControlName="text5"
          [(ngModel)]="actFin.text5"
          name="text5"
        ></textarea>
  
        <h3 class="subtitulos">6. Sobre el tutor</h3>
        <div class="row">
          <label for="formOp6" class="col-sm-8 col-form-label ms-4">
            6.1 - ¿Cómo calificaría la atención de su tutor?</label
          >
          <div class="col-sm-4">
            <select
              class="form-control mt-2"
              id="formOp6"
              formControlName="op6"
              [(ngModel)]="actFin.op6"
              name="op6"
            >
              <option [value]="op" *ngFor="let op of opc1">
                {{ op }}
              </option>
            </select>
          </div>
        </div>
        <small>Estos datos no van a ser visualizados por el docente</small>
        <div class="form-check mt-3">
          <input
            type="radio"
            name="cita"
            class="form-check-input"
            id="formRad1"
            formControlName="cita"
            [(ngModel)]="actFin.cita"
            value="true"
          />
          <label for="formRad1" class="form-label"
            >6.2 - La cita se realizó en horarios de consulta.</label
          >
        </div>
  
        <div class="form-check">
          <input
            type="radio"
            name="cita"
            class="form-check-input"
            id="formRad2"
            formControlName="cita"
            [(ngModel)]="actFin.cita"
            value="false"
          />
          <label for="formRad2" class="form-label"
            >6.3 - La cita se realizó fuera de los horarios de consulta.</label
          >
        </div>
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            id="formCheck1"
            formControlName="revision"
            [(ngModel)]="actFin.revision"
          />
          <label for="formCheck1" class="form-label"
            >6.4 - La revisión de los formularios se realizaba previa a la cita
            por medio electrónico.</label
          >
        </div>
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            id="formCheck2"
            formControlName="tutor"
            [(ngModel)]="actFin.tutor"
          />
          <label for="formCheck2" class="form-label"
            >6.5 - Su tutor respondía satisfactoriamente a sus consultas.</label
          >
        </div>
        <input
          type="button"
          value="ENVIAR"
          id="Enviar"
          class="btn btn-outline-primary col-12 my-4"
          (click)="enviar()"
        />
      </form>
    </div>
  </div>
  