  <form [formGroup]="formSolicitud" (ngSubmit)="save()" #f="ngForm" class="formulario">
    <div class="container">
      <div id="title">
        <h1 class="text-center my-4">
          <b>SOLICITUD DE INICIO</b>
        </h1>
      </div>
      <h3 class="mb-3 subTitle text-center"><u><strong> Ingrese sus datos personales</strong></u></h3>
      <div class="table-responsive cuerpoForm">
        <table class="table table-striped table-borderless table-bordered">
          <tr>
            <th><label for="solFormName">Nombre:</label></th>
            <td>
              <input
                type="text"
                id="solFormName"
                class="form-control"
                formControlName="nombre"
                [(ngModel)]="user.nombre"
                name="nombre"
              />
            </td>
            <th><label for="solFormLastname">Apellido:</label></th>
            <td>
              <input
                type="text"
                id="solFormLastname"
                class="form-control"
                formControlName="apellido"
                [(ngModel)]="user.apellido"
                name="apellido"
              />
            </td>
          </tr>
          <tr>
            <th><label for="solFormLegajo">Legajo:</label></th>
            <td>
              <input
                type="text"
                id="solFormLegajo"
                class="form-control"
                formControlName="legajo"
                [(ngModel)]="user.legajo"
                name="legajo"
              />
            </td>
            <th><label for="solFormDni">DNI:</label></th>
            <td>
              <input
                type="text"
                id="solFormDni"
                class="form-control"
                formControlName="dni"
                [(ngModel)]="user.dni"
                name="dni"
              />
            </td>
          </tr>
          <tr>
            <th><label for="solFormDir">Direccion:</label></th>
            <td>
              <input
                type="text"
                id="solFormDir"
                class="form-control"
                formControlName="direccion"
                [(ngModel)]="user.direccion"
                name="direccion"
              />
            </td>
            <th><label for="solFormLoc">Localidad:</label></th>
            <td>
              <input
                type="text"
                id="solFormLoc"
                class="form-control"
                formControlName="localidad"
                [(ngModel)]="user.localidad"
                name="localidad"
              />
            </td>
          </tr>
          <tr>
            <th><label for="solFormCP">Cod. Postal:</label></th>
            <td>
              <input
                type="text"
                id="solFormCP"
                class="form-control"
                formControlName="cp"
                [(ngModel)]="user.cp"
                name="cp"
              />
            </td>
            <th><label for="solFormCel">Celular:</label></th>
            <td>
              <input
                type="text"
                id="solFormCel"
                class="form-control"
                formControlName="cellphone"
                [(ngModel)]="user.cellphone"
                name="cellphone"
              />
            </td>
          </tr>
        </table>
        <hr />
      </div>
      <div class="cuerpoForm">
        <h4 class="mb-3"><u>Fecha de Solicitud Inicial</u></h4>
        <label for="solFormFN">Fecha de comienzo</label>
        <input
          type="date"
          id="solFormFN"
          class="form-control"
          formControlName="fechaC"
          [(ngModel)]="solicitud.fechaIncial"
          name="fechaC"
        />
        <hr />
        <h4 class="mb-3"><u>Caracteristica de la Pasantia</u></h4>
        <label for="solFormCPPS">Caracteristica PPS</label>
        <input
          type="text"
          id="solFormCPPS"
          class="form-control"
          formControlName="caracteristicas"
          [(ngModel)]="solicitud.caracteristicas"
          name="caracteristicas"
        />
        <hr />
        <h4 class="mb-3"><u>Docente Tutor</u></h4>
        <label for="solFormTutor">Docente Tutor</label>
        <input
          type="text"
          id="solFormTutor"
          class="form-control"
          formControlName="docenteTutor"
          [(ngModel)]="solicitud.docenteTutor"
          name="docenteTutor"
        />
        <hr />
        <h4 class="mb-3 subTitle">
          <u>Datos de la Entidad/Organizacion/Institucion</u>
        </h4>
      </div>

      <div class="table-responsive cuerpoForm">
        <table class="table table-striped table-borderless table-bordered">
          <tr>
            <th><label for="solFormNameE">Nombre de la empresa:</label></th>
            <td>
              <input
                type="text"
                id="solFormNameE"
                class="form-control"
                formControlName="nombreE"
                [(ngModel)]="empresa.nombre"
                name="nombreE"
              />
            </td>
            <th><label for="solFormDirE">Direccion:</label></th>
            <td>
              <input
                type="text"
                id="solFormDirE"
                class="form-control"
                formControlName="direccionE"
                [(ngModel)]="empresa.direccion"
                name="direccionE"
              />
            </td>
          </tr>
          <tr>
            <th><label for="solFormLocE">Localidad:</label></th>
            <td>
              <input
                type="text"
                id="solFormLocE"
                class="form-control"
                formControlName="localidadE"
                [(ngModel)]="empresa.localidad"
                name="localidadE"
              />
            </td>
            <th><label for="solFormCPE">CP:</label></th>
            <td>
              <input
                type="text"
                id="solFormCPE"
                class="form-control"
                formControlName="cpE"
                [(ngModel)]="empresa.codigoPostal"
                name="cpE"
              />
            </td>
          </tr>
          <tr>
            <th><label for="solFormTelE">Telefono:</label></th>
            <td>
              <input
                type="text"
                id="solFormTelE"
                class="form-control"
                formControlName="telefonoE"
                [(ngModel)]="empresa.telefono"
                name="telefonoE"
              />
            </td>
            <th><label for="solFormPC">Persona de Contacto:</label></th>
            <td>
              <input
                type="text"
                id="solFormPC"
                class="form-control"
                formControlName="personaContacto"
                [(ngModel)]="empresa.personaContacto"
                name="personaContacto"
              />
            </td>
          </tr>
          <tr>
            <th><label for="solFormMailE">Mail de la empresa:</label></th>
            <td>
              <input
                type="text"
                id="solFormMailE"
                class="form-control"
                formControlName="emailE"
                [(ngModel)]="empresa.email"
                name="emailE"
              />
            </td>
          </tr>
        </table>
        <hr />
        <label for="solFormAC">Agregar Certificado</label>
        <input type="file" id="solFormAC" class="form-control"/>
        <p>Para poder realizar las PPS debe:</p>
        <ul>
          <li>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi
            expedita magnam repudiandae laudantium quia sit vel blanditiis fugit
            ver
          </li>
          <li>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus
            est distinctio consectetur placeat praesentium facere quasi quisquam
            sapiente es
          </li>
        </ul>
        <p>Nombre :{{ user.nombre }}</p>
        <p>Apellido :{{ user.apellido }}</p>
        <p>Legajo: {{ user.legajo }}</p>
        <p>DNI: {{ user.dni }}</p>
        <p>Fecha: {{ solicitud.fechaIncial }}</p>
        <p>Tutor: {{ solicitud.docenteTutor }}</p>
        <p>Nombre Empresa: {{ empresa.nombre }}</p>
        <div class="botones">
          <button type="submit" class="btn btn-outline-primary col-12">
            Guardar
          </button>
        </div>

        <button type="button" class="btn btn-link">Enviar Mensaje</button>
        <button type="button" class="btn btn-link">Poner Nota</button>
        <ul>
          <li>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi
            expedita magnam repudiandae laudantium quia sit vel blanditiis fugit
            ver
          </li>
          <li>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus
            est distinctio consectetur placeat praesentium facere quasi quisquam
            sapiente es
          </li>
        </ul>
      </div>
    </div>
  </form>
