#title {
    background-color: #a7bbc7;
}

.cuerpoForm {
    background-color: #e1e5ea;
}

.subTitle {
    background-color: #faf3f3;
}

.botones {
    background-color: whitesmoke;
}

input {
    background-color: white;
}