<!DOCTYPE HTML>
<html>

<head>
    <title>Plan de trabajo</title>
    <meta charset="UTF-8">
</head>

<body>
    <h1 align="center">Plan de Trabajo</h1>
    <p align="right">
        <button type="Submit">Informacion</button>
    </p>
    <p>Nombre de la empresa</p>
    <p>Objetivos del proyecto a realizar</p>
    <form>
        <p>Fecha : <input type="date" value=" "> <input type="submit" value="Generar"> </p>
    </form>

    <table border="1px solid">
        <tr>
            <td>Fecha</td>
            <td>Descripccion</td>
            <td>Horas Parciales</td>
            <td>Horas Totales</td>
            <td>Estado</td>
            <td>Documento</td>
        </tr>
        <tr>
            <td>07/05/21</td>
            <td>Primera entrega</td>
            <td>12</td>
            <td>12</td>
            <td>Aprobado</td>
            <td><a href="#" target="_blank">Click Aqui</a></td>
        </tr>
        <tr>
            <td>14/05/21</td>
            <td>Segunda entrega</td>
            <td>12</td>
            <td>24</td>
            <td>Pendiente</td>
            <td><a href="#" target="_blank">Click Aqui</a></td>
        </tr>
    </table>
    <br>
    <br>
    <span><a href="#" target="_blank">Enviar Mensaje</a></span>
    <span><a href="#" target="_blank">Poner nota</a></span>
    <table align=right border="1px solid">
        <tr>
            <td>Crear Linea</td>
            <td>Borrar ultima Linea</td>
        </tr>
    </table>
    <br>
    <br>
    <p>--------------------------------------------------------------------Ultimos Movimientos---------------------------------------------------------------------------------------------------------------------------------------</p>
    <br>
    <span> Nota del Administrador  </span>
    <br>
    <br>
    <button value="Volver Atras">Volver</button>


</body>

</html>