<div class="container">

    <h1 class="text-center">Plan de Trabajo</h1>
    <p class="text-end">
        <button type="Submit">Informacion</button>
    </p>
    <h2>Nombre de la empresa</h2>
    <h3>Objetivos del proyecto a realizar</h3>
    <form>
        <div class="row">
            <div class="col-4"><label for="solFormDate" class="form-label">Fecha : </label><input id="solFormDate" type="date" class="form-control"></div>
            <div class="col-3">
                <small>----</small><button class="btn btn-outline-primary ">Generar</button></div>
        </div>
    </form>

    <table class="table-primary table">
        <tr>
            <td>Fecha</td>
            <td>Descripccion</td>
            <td>Horas Parciales</td>
            <td>Horas Totales</td>
            <td>Estado</td>
            <td>Documento</td>
        </tr>
        <tr>
            <td>07/05/21</td>
            <td>Primera entrega</td>
            <td>12</td>
            <td>12</td>
            <td>Aprobado</td>
            <td><a href="#" target="_blank">Click Aqui</a></td>
        </tr>
        <tr>
            <td>14/05/21</td>
            <td>Segunda entrega</td>
            <td>12</td>
            <td>24</td>
            <td>Pendiente</td>
            <td><a href="#" target="_blank">Click Aqui</a></td>
        </tr>
    </table>
    <br>
    <br>
    <span><a href="#" target="_blank">Enviar Mensaje</a></span>
    <span><a href="#" target="_blank">Poner nota</a></span>
    <table class="borde text-end">
        <tr>
            <td>Crear Linea</td>
            <td>Borrar ultima Linea</td>
        </tr>
    </table>
    <br>
    <br>
    <p>--------------------------------------------------------------------Ultimos Movimientos---------------------------------------------------------------------------------------------------------------------------------------</p>
    <br>
    <span> Nota del Administrador  </span>
    <br>
    <br>
    <button value="Volver Atras">Volver</button>

</div>