#secciones{
    width: 94%;
}
.menu{
    min-height: calc(100vh - 190px);
}
h1{
    padding-top: 50px !important ;
    padding-bottom: 30px;
    font-size: 200%;
}
.col-12{
    cursor: pointer;
    border-radius: 10px;
    border: black 5px;
    min-height: 60%;

}
@media only screen and (max-width: 575px) {
   .col-12{
       margin-left: 6%;
   }
  }
/* .col-12 p{
    font-size: 150%;
}
.col-12 li{
    font-size: 120%;
}
.col-12 h2{
    font-size: 180%;
} */
#solIni{
    background-color: #ff6a6a;
}
#planTrabajo{
    background-color: #ff9914ce;
}
#seguimientos{
    background-color: #deff4abd;
}
#actaFin{
    background-color: #1ab6b6ea;
}

footer {
    background-color: #2d2d2a;
    height: 60px;
    width: 100%;
    margin-top: 130px;
    }

footer p {
    color: aliceblue;
    text-align: center;
}
