<body class="container-fluid">
    <div class="row ">
      <div class="col-12">
        <h1 class="text-center pt-4">
          <strong>BIENVENIDO A LAS PRACTICAS PROFESIONALISANTES</strong>
        </h1>
      </div>
    </div>
    <div class="row menu" id="secciones">
      <div class="col-xl-1 col-md-1 col-sm-1 "></div>
      <div
        class="col-xl-2 col-md-5 col-sm-11 col-12 pt-3 my-2"
        id="solIni"
        routerLink="/solicitudInicio"
      >
        <h2 class="text-center">SOLICITUD DE INICIO</h2>
        <p>
          Primer formulario que debés cargar para iniciar el proceso de tu PPS.
        </p>
        <p>
          Para completar satisfactoriamente este documento, deberás contar con
          la siguiente información:
        </p>
        <ul>
          <li>Datos de la Entidad y persona de contacto</li>
          <li>
            Características generales de las Prácticas a realizar en dicha
            Entidad
          </li>
          <li>
            Certificado de Estado Académico emitido por la UTN (adjuntar PDF)
          </li>
        </ul>
      </div>
      <div class="col-xl-1 col-md-1 col-sm-1 "></div>
      <div
        class="col-xl-2 col-md-5 col-sm-11 col-12 pt-3 my-2"
        id="planTrabajo"
        routerLink="/planTrabajo"
      >
        <h2 class="text-center">PLAN DE TRABAJO</h2>
        <p>
          Aquí debés describir día por día las actividades que realizarás a lo
          largo de tu Práctica. <br />
          Este formulario te servirá durante tu PPS, ya que funciona como guía
          para las tareas que colocaras luego en los Seguimientos Semanales.
        </p>
      </div>
      <div class="col-xl-1 col-md-1 col-sm-1 "></div>
      <div
        class="col-xl-2 col-md-5 col-sm-11 col-12 pt-3 my-2"
        id="seguimientos"
        routerLink="/seguimientos"
      >
        <h2 class="text-center">Seguimientos</h2>
        <p>
          Informe semanal, donde deberás describir las actividades realizadas
          durante ese período y las reflexiones correspondientes, tanto
          personales como del equipo.
        </p>
        <p>
          Este documento debe ser completado de forma semanal por el Alumno y el
          Docente Tutor es quien los revisa y les da curso en el SPPS.
        </p>
      </div>
      <div class="col-xl-1 col-md-1 col-sm-1 "></div>
      <div
        class="col-xl-2 col-md-5 col-sm-11 col-11 pt-3 my-2"
        id="actaFin"
        routerLink="/actaFin"
      >
        <h2 class="text-center">Acta de Finalización</h2>
        <p>
          Último formulario que debés completar y podrás hacerlo una vez que
          hayas completado todos los seguimientos semanales
        </p>
        <p>
          En este documento, deberás escribir la conclusión final de tu PPS y
          las reflexiones sobre tu experiencia. Además, podrás calificar el
          labor académico, Administrativo y Docente, durante las mismas.
        </p>
      </div>
      
    </div>
    <div class="row mt-5">
      <footer>
        <p>&copy; Grupo 5 Entornos Graficos</p>
      </footer>
    </div>
</body>
