<body class="col-12">
    <aside class="col-4">
        <ul class="nav flex-column">
            <li>Opciones de Menu</li>
            <li class="nav-item">
                <a class="nav-link active" routerLink="/solicitudInicio">Solicitud de Inicio </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" routerLink="/planTrabajo">Plan Trabajo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" routerLink="/actaFin">Acta de Finalizacion</a>
            </li>
            <li>
                <a class="nav-link active" routerLink="/login">Login</a>
            </li>
        </ul>
    </aside>
    <section class="col-8 float-end">
        <h1>TITULO</h1>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, quia. Totam est, placeat qui commodi amet molestiae omnis? Doloribus debitis suscipit itaque sed maiores voluptates delectus illum nemo distinctio voluptatum.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae, autem cumque illum error rerum deleniti consequatur quis minima nihil et sint temporibus blanditiis magni asperiores, obcaecati placeat! Deserunt, voluptas similique.</p>
    </section>
    <section class="col-8 float-end">
        <h2>SUBTITULO</h2>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut ullam exercitationem nemo neque reiciendis itaque, a nulla nam amet nobis illo dignissimos, facere animi ipsam rerum repellendus accusamus molestias corrupti?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic omnis harum, unde dolore ad molestias. Voluptatem laboriosam accusantium sapiente veritatis nihil possimus voluptates illo fugiat sit, nobis nesciunt maiores? Ullam?</p>
    </section>
</body>